{% extends 'base.html' %}


{% block title %} inicio {%endblock%}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/buzon.css'%}">

<div class="container">
    <h1>Buzón de Sugerencias</h1>
    <form action="#" method="POST" class="suggestion-form">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" placeholder="Ingresa tu nombre" required>
        
        <label for="suggestion">Sugerencia:</label>
        <textarea id="suggestion" name="suggestion" placeholder="Escribe tu sugerencia aquí..." rows="4" required></textarea>
        
        <button type="submit" class="submit-btn">Enviar</button>
    </form>
</div>
{% endblock %}