{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restablecer contraseña</title>
    <link rel="stylesheet" href="{% static 'css/cambiar.css' %}">
</head>
<body>
 
<div class="container">

    <form method="POST">
        <h2>ingresa tu nueva contraseña</h2>
    
        {% csrf_token %}
        <input type="password" name="password" placeholder="Nueva contraseña" required>
        <button type="submit">Guardar</button>
    </form>

</div>

</body>
</html>