{% extends 'base.html' %}
{% load static %}


{% block title %} inicio {%endblock%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/domicilios.css' %}">





<div class="menu-container">
    <h2 class="titulo">NUEVAS OPCIONES!</h2>
    <div class="opcion">
        <img src="{% static 'img/domicilios.jpg' %}" >
        <div class="descripcion">
            <h3>Tus <span> Domicilios</span></h3>
            <p>¡Las mejores Burger en la puerta de tu casa!
            </p>

            
            <a href="https://wa.me/message/DQ3EYIZCS24KM1" >click aqui</a>

            
        </div>
    </div>
    <div class="opcion ">
        <img src="{% static 'img/reservas.jpg' %}" alt="Crispy Pork" >
        <div class="descripcion">
            <h3>Tus <span> Reservas</span></h3>
            <p>¡Vive los mejores momentos en @casamiagarzon!
            </p>
            <a href="{% url 'reservacion'%}">click aqui</a>
      
        </div>
    </div>

   
</div>





    {% endblock %}