{% extends 'base.html' %}


{% block title %} inicio {%endblock%}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/fotos.css'%}">

<!-- 
<h1>Galería de imágenes</h1>
<div class="galeria">

  
    <div>  <img src="{% static 'img/krispy Pork.jpeg' %}" alt="Crispy Pork"><span>imagen1</span></div>
    <div>  <img src="{% static 'img/1.jpeg' %}" alt="Crispy Pork"><span>imagen2</span></div>
    <div>  <img src="{% static 'img/2.jpeg' %}" alt="Crispy Pork"><span>imagen3</span></div>
    <div>  <img src="{% static 'img/3.jpeg' %}" alt="Crispy Pork"><span>imagen4</span></div>
    <div>  <img src="{% static 'img/4.jpeg' %}" alt="Crispy Pork"><span>imagen5</span></div>
    <div>  <img src="{% static 'img/5.jpeg' %}" alt="Crispy Pork"><span>imagen6</span></div>
    <div>  <img src="{% static 'img/6.jpeg' %}" alt="Crispy Pork"><span>imagen7</span></div>
    <div>  <img src="{% static 'img/7.jpeg' %}" alt="Crispy Pork"><span>imagen8</span></div>
    <div>  <img src="{% static 'img/8.jpeg' %}" alt="Crispy Pork"><span>imagen9</span></div>
    <div>  <img src="{% static 'img/9.jpeg' %}" alt="Crispy Pork"><span>imagen10</span></div>
    <div>  <img src="{% static 'img/10.jpeg' %}" alt="Crispy Pork"><span>imagen11</span></div>
    <div>  <img src="{% static 'img/11.jpeg' %}" alt="Crispy Pork"><span>imagen12</span></div>
    <div>  <img src="{% static 'img/12.jpeg' %}" alt="Crispy Pork"><span>imagen13</span></div>
    <div>  <img src="{% static 'img/13.jpeg' %}" alt="Crispy Pork"><span>imagen14</span></div>
    <div>  <img src="{% static 'img/14.jpeg' %}" alt="Crispy Pork"><span>imagen15</span></div>
    <div>  <img src="{% static 'img/15.jpeg' %}" alt="Crispy Pork"><span>imagen16</span></div>
    <div>  <img src="{% static 'img/16.jpeg' %}" alt="Crispy Pork"><span>imagen17</span></div>
    <div>  <img src="{% static 'img/17.jpeg' %}" alt="Crispy Pork"><span>imagen18</span></div>
    <div>  <img src="{% static 'img/18.jpeg' %}" alt="Crispy Pork"><span>imagen19</span></div>
    <div>  <img src="{% static 'img/19.jpeg' %}" alt="Crispy Pork"><span>imagen20</span></div>
    <div>  <img src="{% static 'img/20.jpeg' %}" alt="Crispy Pork"><span>imagen21</span></div>
    <div>  <img src="{% static 'img/21.jpeg' %}" alt="Crispy Pork"><span>imagen22</span></div>
    <div>  <img src="{% static 'img/22.jpeg' %}" alt="Crispy Pork"><span>imagen23</span></div>
    
  
    
    
</div> -->
<!-- <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/wanaka-tree.jpg"> -->
<div id="carousel">
  <figure id="spinner">
    <img src="{% static 'img/1.jpeg' %}" alt>
    <img src="{% static 'img/2.jpeg' %}" alt>
    <img src="{% static 'img/20.jpeg' %}" alt>
    <img src="{% static 'img/4.jpeg' %}" alt>
    <img src="{% static 'img/5.jpeg' %}" alt>
    <img src="{% static 'img/6.jpeg' %}" alt>
    <img src="{% static 'img/7.jpeg' %}" alt>
    <img src="{% static 'img/8.jpeg' %}" alt>
  </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>



<script src=" {% static 'js/fotos.js' %}"></script>



{% endblock %}