{% extends 'base.html' %}
{% load static %}


{% block title %} inicio {%endblock%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/galeria.css' %}">



</header>  



<header class="header_dos">
    <nav class="tres">
        <ul class="dos">
          <li><a href="{% url 'fotos'%}">Fotos</a></li>
          <li><a href="{% url 'videos'%}">Videos</a></li>
        </ul>
    </nav>

</header>





<div class="carousel">
            <div class="carousel-track">
            <div class="slide">
              <img src="{% static 'img/1.jpeg' %}" alt="Crispy Pork" height="158px">
            </div>
            <div class="slide">
              <img src="{% static 'img/2.jpeg' %}" alt="Crispy Pork" height="158px">
            </div>
            <div class="slide">
              <img src="{% static 'img/3.jpeg' %}" alt="Crispy Pork" height="158px">
            </div>

          
        </div>
     
</div>    






    {% endblock %}