{% extends 'base.html' %}


{% block title %} inicio {%endblock%}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">


<body>
    
    <section class="home">
      <div class="description">
        <h1 class="title">
          <span class="gradient-text">CASA MIA</span> FOOD - PUB
        </h1>
        <p class="paragraph">
            A veces todo puede fallar, pero nunca el sabor que te lleva de vuelta a casa. En Casamia, el amor está en cada plato, esperando por ti.
        </p>
      </div>

      <div class="users-color-container">

        <span class="item" style="--i: 1">
            <img
                class="item"
                src="{% static 'img/1.jpeg' %}"
                style="--i: 2"
                alt="" />
        </span>

        <span class="item" style="--i: 2">
            <img
            class="item"
            src="{% static 'img/2.jpeg' %}""
            style="--i: 3"
            alt="" />
        </span>

         <span class="item" style="--i: 1">
            <img
            class="item"
            src="{% static 'img/3.jpeg' %}""
            style="--i: 4"
            alt="" />
        </span>

        <span class="item" style="--i: 4">
            <img 
            class="item" 
            src="{% static 'img/4.jpeg' %}""
            style="--i: 5" alt="" />
        </span>
        
        <!-- <span class="item" style="--i: 5">
            <img 
            class="item" 
            src="{% static 'img/5.jpeg' %}""
            style="--i: 6" alt="" />
        </span> -->
<!-- 
        <span class="item" style="--i: 5">
            <img 
            class="item" 
            src="{% static 'img/5.jpeg' %}""
            style="--i: 6" alt="" />
        </span>

        <span class="item" style="--i: 6">
            <img 
            class="item" 
            src="{% static 'img/6.jpeg' %}""
            style="--i: 7" alt="" />
        </span>

        <span class="item" style="--i: 7">
            <img class="item" 
            src="{% static 'img/7.jpeg' %}""
            style="--i: 8" alt="" />
        </span>

        <span class="item" style="--i: 8">
            <img class="item" 
            src="{% static 'img/8.jpeg' %}"" 
            style="--i: 9" alt="" />
        </span>

        <span class="item" style="--i: 9">
            <img class="item" 
            src="{% static 'img/9.jpeg' %}"" 
            style="--i: 10" alt="" />
        </span>

        <span class="item" style="--i: 10">
            <img class="item" 
            src="{% static 'img/10.jpeg' %}"" 
            style="--i: 11" alt="" />
        </span>

        <span class="item" style="--i: 11">
            <img class="item" 
            src="{% static 'img/11.jpeg' %}"" 
            style="--i: 12" alt="" />
        </span>

        <span class="item" style="--i: 12">
            <img class="item" 
            src="{% static 'img/12.jpeg' %}"" 
            style="--i: 1" alt="" />
        </span> -->

      </div>
    </section>

   
  </body>



     


<!-- 


<div class="carousel-container">
    <div class="text-overlay">
        <h1>CASA MIA</h1>
        <h2>FOOD-PUB</h2>
        <h2>Comidas Rápidas</h2>
        <p>Disfruta de nuestras deliciosas promociones y menús exclusivos!</p>
    </div>

    <div class="carousel">
        <div class="carousel-track">
            <div class="slide">
                <img src="{% static 'img/1.jpeg' %}" alt="Plato especial 1">
            </div>
            <div class="slide">
                <img src="{% static 'img/2.jpeg' %}" alt="Plato especial 2">
            </div>
            <div class="slide">
                <img src="{% static 'img/3.jpeg' %}" alt="Plato especial 3">
            </div>
            <div class="slide">
                <img src="{% static 'img/4.jpeg' %}" alt="Plato especial 4">
            </div>
            <div class="slide">
                <img src="{% static 'img/5.jpeg' %}" alt="Plato especial 5">
            </div>
        </div>
    </div>
</div>



<section class="promociones">
    <h2 class="promo1">La mejor  comida está en CASAMIA! </h2>
    <div class="promociones-grid">
        <div class="promo">
            <img src="{% static 'img/1.jpeg' %}" alt="Crispy Pork" >
            <h3>Crispy Pork</h3>
            <p>Disfruta con tu amigo y ahorra</p>
        </div>
        <div class="promo">
            <img src="{% static 'img/combo kids.jpeg' %}" alt="Combo Kids">
            <h3>Combo Kids</h3>
            <p>Uno para que tus niños...</p>
        </div>
        <div class="promo">
            <img src="{% static 'img/chingona.jpeg' %}" alt="Chingona">
            <h3>Chingona</h3>
            <p>Te gustan los sabores picantes</p>
        </div>
    </div>
</section> -->



    {% endblock %}