{% extends 'base.html' %}


{% block title %} inicio {%endblock%}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">






     





<div class="carousel-container">
    <div class="text-overlay">
        <h1>CASA MIA</h1>
        <h2>FOOD-PUB</h2>
        <h2>Comidas Rápidas</h2>
        <p>Disfruta de nuestras deliciosas promociones y menús exclusivos!</p>
    </div>

    <div class="carousel">
        <div class="carousel-track">
            <div class="slide">
                <img src="{% static 'img/1.jpeg' %}" alt="Plato especial 1">
            </div>
            <div class="slide">
                <img src="{% static 'img/2.jpeg' %}" alt="Plato especial 2">
            </div>
            <div class="slide">
                <img src="{% static 'img/3.jpeg' %}" alt="Plato especial 3">
            </div>
            <div class="slide">
                <img src="{% static 'img/4.jpeg' %}" alt="Plato especial 4">
            </div>
            <div class="slide">
                <img src="{% static 'img/5.jpeg' %}" alt="Plato especial 5">
            </div>
        </div>
    </div>
</div>



<section class="promociones">
    <h2 class="promo1">La mejor  comida está en CASAMIA! </h2>
    <div class="promociones-grid">
        <div class="promo">
            <img src="{% static 'img/1.jpeg' %}" alt="Crispy Pork" >
            <h3>Crispy Pork</h3>
            <p>Disfruta con tu amigo y ahorra</p>
        </div>
        <div class="promo">
            <img src="{% static 'img/combo kids.jpeg' %}" alt="Combo Kids">
            <h3>Combo Kids</h3>
            <p>Uno para que tus niños...</p>
        </div>
        <div class="promo">
            <img src="{% static 'img/chingona.jpeg' %}" alt="Chingona">
            <h3>Chingona</h3>
            <p>Te gustan los sabores picantes</p>
        </div>
    </div>
</section>



    {% endblock %}