{% extends 'base.html' %}


{% block title %} inicio {%endblock%}
{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'css/info.css' %}">





<div class="menu-container">
    <h2 class="titulo">NUEVAS OPCIONES!</h2>
    <div class="opcion">
        <img src="{% static 'img/domicilios.jpg' %}" alt="Crispy Pork" >
        <div class="descripcion">
            <h3>Tus <span> Domicilios</span></h3>
            <p>¡Las mejores Burger en la puerta de tu casa!😎🍔🛵
            </p>
        </div>
    </div>
    <div class="opcion ">
        <img src="{% static 'img/reservas.jpg' %}" alt="Crispy Pork" >
        <div class="descripcion">
            <h3>Tus <span> Reservas</span></h3>
            <p>¡Vive los mejores momentos en @casamiagarzon!✨🎉
            </p>
      
        </div>
    </div>

              
    <footer class="uno">
        <div class="dos">
            <div class="social">
                <h2 class="letra">haz click en el boton para hacer tus pedidos</h2>
                <ul>
                    <li><a href="https://wa.me/message/DQ3EYIZCS24KM1" target="_blank"><img src="{% static 'img/logo.png' %}" width="30px" height="30px"></a></li>
                </ul>
    </footer>
</div>







    {% endblock %}