{% extends 'base.html' %}

{% block title %} inicio {% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<main>
    <form method="post" action="{% url 'login' %}" class="form-box">
        {% csrf_token %}
        <div>
            <h2>Inicio de sesión</h2>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
            <a class="boton"  href="{% url 'resetear' %}">Olvido su contraseña</a>
            <p>¿No tienes cuenta? <a href="{% url 'registrarse' %}">Regístrate aquí</a></p>
        </div>
    </form>
</main>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}





