{% extends 'base.html' %}


{% block title %} inicio {%endblock%}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/mision.css'%}">


<div class="container">
    <h1 class="title">Misión</h1>
    <p class="description">Ser la primera opción en comida rápida, destacándonos por nuestra capacidad de adaptarnos a las preferencias y necesidades de nuestros clientes, y por mantener un alto estándar de calidad en cada uno de nuestros productos.</p>
</div>



    {% endblock %}