{% extends 'base.html' %}


{% block title %} inicio {%endblock%}



{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/nosotros.css'%}">







<div class="container2">
    <div class="section mission">
        <div class="section-text">
            <h2>Misión</h2>
            <p> Ser la primera opción en comida rápida, destacándonos por nuestra capacidad de adaptarnos a las preferencias y necesidades de nuestros clientes, y por mantener un alto estándar de calidad en cada uno de nuestros productos.</p>
        </div>
        <img src="{% static 'img/fondo.png' %}" alt="Imagen de misión">
    </div>
    <!-- <div class="section vision">
        <img src="{% static 'img/2.jpeg'%}" alt="Imagen de visión">
        <div class="section-text">
            <h2>Visión</h2>
            <p>Ser la primera opción en comida rápida, destacándonos por nuestra capacidad de adaptarnos a las preferencias y necesidades de nuestros clientes, y por mantener un alto estándar de calidad en cada uno de nuestros productos.</p>
        </div>
    </div> -->
</div>

    <div class="container3">
        <div class="vision">
            <img src="{% static 'img/harry.jpg'%}" alt="Imagen de visión">
            <div class="text">
                <h2>Visión</h2>
                <p>Ser la primera opción en comida rápida, destacándonos por nuestra capacidad de adaptarnos a las preferencias y necesidades de nuestros clientes, y por mantener un alto estándar de calidad en cada uno de nuestros productos.</p>
            </div>
        </div>
    </div>

<div class="principal">




 
<div class="container1">

    <h2 class="titu"> Ubicación</h2>
 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1993.4456509526653!2d-75.623033!3d2.1948273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e24d9d2b60a4799%3A0x14ca6e8e0b643a0e!2sCasamia%20Food-Pub%20%7C%20Comida%20R%C3%A1pida!5e0!3m2!1sen!2sco!4v1733141435510!5m2!1sen!2sco"  class="map"   width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div>





</div>

<script src=" {% static 'js/misison.js' %}"></script>




    {% endblock %}