{% extends 'base.html' %}



{% block title %} inicio {%endblock%}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/pasarela.css' %}">


    <div class="container">
        <h1 class="titulo">Finalizar Compra</h1>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
        </div>


        {% endif %}


            <div class="grid">
                <div class="form">
                    <h2 class="resumen">Datos de Contacto</h2>
                    <form method="POST">
                        {% csrf_token %}


        <div class="form">
                <label for="{{ form.nombre.id_for_label }}">Nombre Completo</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                <div class="error">{{ form.nombre.errors }}</div>
                 {% endif %}
        </div>


        <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Correo Electrónico</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
        </div>


        <div class="form">
                    <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
                    {{ form.telefono }}
                    {% if form.telefono.errors %}
                    <div class="error">{{ form.telefono.errors }}</div>
                    {% endif %}
        </div>
                            <!-- Método de Pago -->
                            <h2 class="resumen">Método de Pago</h2>
                            <div class="form">
                                    {% for radio in form.metodo_pago %}
                                        <div class="form">
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </div>
                            {% endfor %}
                         

                            
                                    <div class="error">{{ form.metodo_pago.errors }}</div>
                                    
                                </div>

                                <button type="submit" class="btn w-100" style="background-color: var(--acento); color: var(--texto-claro);">
                                        confirmar pago
                                </button>
                        </form>
                    </div>
                    <div class="resumen">
                            <h2 class="titulo">Resumen del Pedido</h2>


                            {% for item in carrito_items %}
                            <div class="item">
                                <div class="producto">
                                    <img src="{{ item.producto.foto.url }}" alt="{{item.producto.nombre }}" class="resumen-imagen">
                                <div>
                                    <div>{{ item.producto.nombre }}</div>
                                    <div>Cantidad: {{ item.cantidad }}</div>
                                </div>
                            </div>
                            <div>${{ item.subtotal }}</div>
                        </div>
                        {% endfor %}
                         
                        <div class="resumen-total">
                            Total: ${{ total }}
                        </div>
                        
                        <div style="margin-top: 2rem;">
                            <a href="{% url 'ver_carrito' %}" class="btn btn-outline">
                                Volver al Carrito
                            </a>
                        </div>
                    </div>
                </div>
            </div> 


{% endblock %}