{% extends 'base.html' %}

{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/perfil.css' %}">

<div class="user-info-container">
    <h1>Información de Usuario</h1>
    
    <div class="profile-section">
      
        <div class="profile-details">
            <div class="detail-item">
                <h3>Información básica</h3>
                <p><strong>Nombre de usuario:</strong> {{ username }}</p>
                {% if first_name %}<p><strong>Nombre:</strong> {{ first_name }}</p>{% endif %}
                {% if last_name %}<p><strong>Apellido:</strong> {{ last_name }}</p>{% endif %}
                <p><strong>Email:</strong> {{ email }}</p>
            </div>
            
            <div class="detail-item">
                <h3>Estado de la cuenta</h3>
                <p><strong>Cuenta activa:</strong> {% if is_active %}Sí{% else %}No{% endif %}</p>
                <!-- <p><strong>Fecha de registro:</strong> {{ date_joined }}</p>
                <p><strong>Último acceso:</strong> {{ last_login}}</p> -->
               
            </div>
            
            {% if groups.exists %}
            <div class="detail-item">
                <h3>Grupos</h3>
                <ul>
                    {% for group in groups %}
                    <li>{{ group.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div> 






{% endblock %}




