
 .container6 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    font-family: 'Arial', sans-serif;
}

.container6 form {
    width: 100%;
    max-width: 450px;
    background:  rgb(36, 44, 190)1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px white ;
    transition: all 0.3s ease;
}



.container6 form h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 600;
}

.container6 input {
    box-shadow: 0 4px 6px white ;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.container6 input:focus {
    outline: none;
    border-color: #4A90E2;
}

.container6 button {
    width: 100%;
    padding: 12px;
    background: #825bbf;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container6 button:hover {
    background: #9f8dd1;
}

.container6 .messages {
    background-color: #4CAF50;
    color: rgb(161, 72, 72);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
