body {
    font-family: Arial, sans-serif;
    background-color: rgba(35, 36, 57, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
  
  }
  
  h2 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  a {
    margin-top: 30% ;
    display: inline-block;
    background-color: #533e6e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #544d5e;
  }