body {
    color: white;
}

.container, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarjeta {

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px white;
    text-align: center;
    color: white;
}

.carta h1, .carta p, .carta a {
    color: white;
}

.carta a {
    text-decoration: none;
    background: #825bbf;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    color: white;
}

.carta a:hover {
    background: #9f8dd1;
}
