
.container4{


        
        right: 0;
        width: 50%;
        height: 100%;
        background: #ffffff;
        display: flex;
        align-items: center;
        color: #333;
        text-align: center;
        padding: 40px;
        z-index: 1;
        transition: .6s ease-in-out 1.2s, visibility 0s 1s;
        margin-bottom: 10%;
    

}

main {

 



    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #000000;
}

.messages {
    margin-bottom: 15px;
}

.messages div {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #3c1a5f;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #9e39b7;
}

@media screen and (max-width: 500px) {
    main {
        width: 90%;
    }
}


input::placeholder{
    color: #888;
    font-weight: 400;
}


.form-box{ width: 100%; }


 


