.principal{
  display: grid;
  grid-template-columns: auto auto;
}
/* 
.container1 {
 
  margin: 0 auto;
  /* margin-top: 5%;
  margin-bottom: 10%;
  width: 500px;
  height: 500px;
  text-align: center;
  align-items: center;
  background-color: rgb(56, 57, 89);
  /* background: linear-gradient(135deg, #61361a, #000000); 
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  animation: fadeIn 2s ease-out;
  box-shadow: 0 0 10px  white; 
} */

.title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.description {
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 30px;
  opacity: 0.8;
  color: #fff;
}



/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* mapa y buzon */

.container{
  box-shadow: 0 0 10px  white; 
display: flex;
justify-content: center;
}



.map{
 

  display: flex;
  padding-left: 3%;
   margin-top: 5%;
   margin-bottom: 10%;
   margin-left: 4%;
}
h2{

    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
  }

  h3{
    color: #fcfcfc;
    font-size: 1rem;
  }



 

main {

  align-items: center;
  text-align: center;

  padding: 20px;

  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}



input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background: #682ea9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background: #8e30b1;
}

.messages p {
  background: #ffdddd;
  color: #fcfcfc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

p a {
  margin-top: 2%;
  color: #fff9ec;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


.map{
  width: 350px;
  height: 350px;
}









 .container2 {
  box-shadow: 0 0 10px  white; 
  margin-left: 5%;
  width: 50%;
  max-width: 900px;
  border-radius: 15px;
}

.section {
  display: flex;
  align-items: center;
  background: rgb(56, 57, 89);
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.section img:hover {
  transform: scale(1.1);
}

.section-text {
  color: #fcfcfc;
  flex: 1;
  padding: 0 20px;
  text-align: justify;
}

.mission img {
  order: -1;
}


h2 {
  margin-bottom: 2%;
  color: rgb(255, 255, 255);
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}








.container3 {
  box-shadow: 0 0 10px  white; 
  flex-direction: row-reverse;
  margin-left: 45%;
  width: 50%;
  border-radius: 15px;
  max-width: 900px;
}

.vision {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: rgb(56, 57, 89);
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.vision img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.vision img:hover {
  transform: scale(1.1);
}

.text{
  color: #ffffff;
  flex: 1;
  padding: 0 20px;
  text-align: justify;
}

.vision img {
  order: -2;
}

.vision {
  display: flex;
  
}


h2 {
  margin-bottom: 2%;
  color: rgb(255, 255, 255);
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}








/* Media Queries para 800px */
@media screen and (max-width: 800px) {
  .principal {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .container1 {
    width: 90%;
    padding: 30px;
    text-align: center;
   
  }

  /* iframe{

    margin-left: 30%;
    border-radius: 30PX;
    display: flex;
    justify-content: center;
  } */

  .map {
    margin-top: 5px;
    margin-bottom: 10%;
    width: 90%; /* El mapa ocupa el 100% del ancho disponible */
    height: 80%; /* Puedes ajustar la altura si lo deseas */
    margin: 0 auto; /* Centra horizontalmente */
  }

  .container2, .container3 {
    width: 90%;
    margin: 0 auto;
  }

  .section, .vision {
    flex-direction: column;
    text-align: center;
  }

  .section img, .vision img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
  }
}

/* Media Queries para 600px */
@media screen and (max-width: 600px) {
  .container1 {
    width: 100%;
    padding: 20px;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .container2, .container3 {
    width: 100%;
    padding: 10px;
  }

  .section-text, .text {
    padding: 0;
  }
  
  /* iframe{
    align-items: center;
    border-radius: 30PX;
  } */

  .map {
    margin-top: 5px;
    margin-bottom: 10%;
    width: 90%; /* El mapa ocupa el 100% del ancho disponible */
    height: 80%; /* Puedes ajustar la altura si lo deseas */
    margin: 0 auto; /* Centra horizontalmente */
  }
}